.gifGenerator {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto
}

.gifGenerator__search{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.gifs {
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-top: 3rem
}